// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42


#define ENABLE_arch_x86_64
#define _FILE_OFFSET_BITS 64
#define USE_canonicalize_file_name 0
#define USE_enum_ptrace_request 1
#define USE_strlcpy_strlcat 0
#define USE_getauxval 1

#define ENABLE_HardwareBreakpoints 0
#define INSTALLROOT /home/ionel/projects/tmp/org.eclipse.tcf.agent/rfs
#define MACHINE arm
#define OPSYS GNU/Linux
#define _FORTIFY_SOURCE 2
